@media (min-width: 641px) {
  .square-img {
    aspect-ratio: 4 / 3;
  }
  .howto-step {
    width: 220px;
    text-align: center;
  }
}
.blog-slide img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
